#main {
  width: 900px;
  border: 2px solid red;
}

#header {
  width: 90%;
  height: 100px;
  border: 2px solid blueviolet;
  margin: 20px;
}

#slider {
  width: 90%;
  height: 150px;
  border: 2px solid green;
  margin: 20px;
}
#content {
  width: 90%;
  height: 250px;
  border: 2px solid brown;
  margin: 20px;
}
