/* ID Selectors */
#wrapper {
  width: 900px;
  border: 2px solid;
  margin: 0 auto;
}

/* Element Selectors */
header {
  width: 95%;
  margin: 5px auto;
  height: 70px;
}

/* class and Grouping Selectors */
.right,
.left {
  width: 50%;
  float: left;
}

li {
  display: inline-block;
  margin: 10px 20px;
}

.right {
  color: red;
}

* {
  margin: 0;
  /* line-height: 30px; */
}
